<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="../assets/css/main.css" rel="stylesheet" type="text/css" />

    <style>

        #colors, #sizes {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
        }
        .color-circle {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: inline-block;
            margin: 5px;
            cursor: pointer;
            position: relative;
        }

        .color-circle-default {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: inline-block;
            margin: 5px;
            cursor: pointer;
            position: relative;
        }

        .dot {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #efe6e6; 
            top: 0;
            right: 0;
            display: none;
        }

        .selected .dot {
            display: block;
        }
        
        .size-checkbox {
            display: inline-block;
            margin: 5px;
        }

        .size-checkbox input[type="checkbox"] {
            display: none;
        }

        .size-checkbox label {
            display: inline-block;
            width: 25px;
            height: 25px;
            border: 2px solid black;
            border-radius: 5px; 
            text-align: center;
            line-height: 26px;
            cursor: pointer;
        }

        .size-checkbox input[type="checkbox"]:checked + label {
            background-color: black;
            color:#ccc
        }

        .size-checkbox-default input[type="checkbox"] + label {
            background-color: black;
            color: #ccc;
        }

    </style>
</head>

<body>
    <div class="screen-overlay"></div>
    {{!-- Menu left --}}
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="../assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="../admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../admin/categories"> <i class="icon material-icons md-store"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="../admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../admin/addProduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers/category-offers"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="../admin/banners"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Banners</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../admin/coupens"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Coupens </span>
                    </a>
                </li>
                <hr>
                <li class="menu-item">
                    <a class="menu-link" style="color:red" href="../admin/logout"><i class="material-icons md-exit_to_app"></i>
                        <span class="text"> Logout </span>
                    </a>
                </li>
            </ul>
            <hr>
        </nav>
    </aside>
    {{!-- Header right --}}
    <main class="main-wrap">

        {{!-- navbar header --}}
        <header class="main-header navbar">
            <div class="col-nav ms-auto"> <!-- Utilizing ms-auto (margin-left: auto) to align content to the right -->
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                    <i class="material-icons md-apps"></i>
                </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                            <img class="img-xs rounded-circle" src="../assets/imgs/people/avatar2.jpg" alt="User">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout">
                                <i class="material-icons md-exit_to_app"></i>Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        
        {{!-- body right --}}
        <section class="content-main">
            <form  id="productForm" action="/admin/product/edit/submit?productId={{product._id}}" method="post">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up">Commit changes</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic Information</h4>
                            </div>
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="product_name" value="{{product.productname}}">
                                    <div id="productNameError" class="text-danger"></div> 
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="product_description">{{product.productdescription}}</textarea>
                                    <div id="productDescriptionError" class="text-danger"></div> 
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-6">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="$" type="text" class="form-control" name="regular_price" value="{{product.regularprice}}">
                                                <div id="productRegularPriceError" class="text-danger"></div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-6">
                                            <label class="form-label">Stock</label>
                                            <input type="text" placeholder="000" class="form-control" id="stock" name="product_stock" value="{{product.stock}}">
                                            <div id="productStockError" class="text-danger"></div> 
                                        </div>
                                    </div>
                                </div> <br> 
                            </div>
                        </div> 
                    </div>  <!-- card end// -->

                    <div  class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media and Organization</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    <div id="image-previews" class="image-previews">
                                        {{#each product.productimages}}
                                            <img src="/multer/products/cropped-{{this}}" alt="Product Image">
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card-body">
                                <label class="form-label">Category</label><br>
                                <p style="display: inline; margin: 0;">{{parentCategory.name}} - </p>
                                <p style="display: inline; margin: 0;">{{parentCategory._id}}</p>
                                <br>
                                <p style="display: inline; margin: 0;">{{subCategory.name}} - </p>
                                <p style="display: inline; margin: 0;">{{subCategory._id}}</p>
                                <br><br>
                                <div class="mb-4">
                                    <label for="product_tags" class="form-label">Tags</label>
                                    <input type="text" class="form-control" name="tags" value="{{product.tags}}">
                                    <div id="productTagsError" class="text-danger"></div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="col-lg-9">
                    <div class="card mb-4 ">
                        <div class="card-header">
                            <h4>Specifications</h4>
                        </div>
                        <div class="card-body">
                            <h5>Colors:</h5>
                            <div id="colors">
                                <p>Choosen colors</p>
                                {{#each product.colors}}
                                <div class="color-circle-default" style="background-color: {{this}};" data-color="{{this}}">
                                </div>
                                {{/each}} 
                                <p>tap below if you want to edit</p>
                                <div id="colorSelection">
                                    <div class="color-circle" style="background-color: red;" data-color="red">
                                        <div class="dot"></div>
                                    </div>
                                    <div class="color-circle" style="background-color: green;" data-color="green">
                                        <div class="dot"></div>
                                    </div>
                                    <div class="color-circle" style="background-color: blue;" data-color="blue">
                                        <div class="dot"></div>
                                    </div>
                                    <div class="color-circle" style="background-color: yellow;" data-color="yellow">
                                        <div class="dot"></div>
                                    </div>
                                    <div class="color-circle" style="background-color: violet;" data-color="violet">
                                        <div class="dot"></div>
                                    </div>
                                    <div class="color-circle" style="background-color: brown;" data-color="brown">
                                        <div class="dot"></div>
                                    </div>
                                    <div class="color-circle" style="background-color: black;" data-color="black">
                                        <div class="dot"></div>
                                    </div>
                                    <div class="color-circle" style="background-color: cyan;" data-color="cyan">
                                        <div class="dot"></div>
                                    </div>
                                    <div class="color-circle" style="background-color: white; border:0.2px solid black;" data-color="white">
                                        <div class="dot"></div>
                                    </div>
                                    <input type="hidden" name="selected_colors" id="selected_colors" value="">
                                </div>
                            </div>
                            
                            <h5>Sizes:</h5>
                            <div id="sizes">
                                <p>Choosen sizes</p>
                                <div class="size-checkbox-default" style="display: flex; flex-wrap: wrap;">
                                    {{#each product.sizes}}
                                    <div class="size-checkbox" style="flex: 0 0 auto; margin-right: 10px;">
                                        <input type="checkbox" value="{{this}}">
                                        <label for="{{this}}">{{this}}</label>
                                    </div>
                                    {{/each}}
                                </div>
                                <p>tap below if you want to edit</p>
                                <div id="sizeSelection">
                                    <div class="size-checkbox">
                                        <input type="checkbox" id="xs" name="size" value="XS">
                                        <label for="xs">XS</label>
                                    </div>
                                    <div class="size-checkbox">
                                        <input type="checkbox" id="s" name="size" value="S">
                                        <label for="s">S</label>
                                    </div>
                                    <div class="size-checkbox">
                                        <input type="checkbox" id="m" name="size" value="M">
                                        <label for="m">M</label>
                                    </div>
                                    <div class="size-checkbox">
                                        <input type="checkbox" id="l" name="size" value="L">
                                        <label for="l">L</label>
                                    </div>
                                    <div class="size-checkbox">
                                        <input type="checkbox" id="xl" name="size" value="XL">
                                        <label for="xl">XL</label>
                                    </div>
                                    <input type="hidden" name="selected_sizes" id="selected_sizes" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- card end// -->

            </form>
        </section> 
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> © Konisagg , a app by O Sreerag
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>


    <script>

    const colorSelection = document.getElementById('colorSelection');
    colorSelection.addEventListener('click', (event) => {
        if (event.target.classList.contains('color-circle')) {
            event.target.classList.toggle('selected');
            updateSelectedColors();
        }
    });

    function updateSelectedColors() {
        const selectedColors = Array.from(colorSelection.getElementsByClassName('color-circle'))
            .filter(circle => circle.classList.contains('selected'))
            .map(circle => circle.getAttribute('data-color'));
        document.getElementById('selected_colors').value = selectedColors.join(',');
    }
    
    const checkboxes = document.querySelectorAll('input[name="size"]');
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', updateSelectedSizes);
    });
    function updateSelectedSizes() {
        const selectedSizes = Array.from(checkboxes)
            .filter(checkbox => checkbox.checked)
            .map(checkbox => checkbox.value);

        document.getElementById('selected_sizes').value = selectedSizes.join(',');
    }
 
    document.getElementById('productForm').addEventListener('submit', function(event) {
        if (!validateForm()) {
            event.preventDefault(); // Prevent form submission if validation fails
        } else {
        // Log form data just before submission
        console.log("Form Data:", {
            product_name: document.getElementById('product_name').value.trim(),
            product_description: document.getElementsByName('product_description')[0].value.trim(),
            regular_price: document.getElementsByName('regular_price')[0].value.trim(),
            product_stock: document.getElementById('stock').value.trim(),
            selected_colors: document.getElementById('selected_colors').value.trim(),
            selected_sizes: document.getElementById('selected_sizes').value.trim(),
            tags: document.getElementsByName('tags')[0].value.trim()
        });

        // Proceed with form submission
    }

    });

    function removeError(errorElementId) {
        document.getElementById(errorElementId).textContent = '';
    }

    // validating form 
    function validateForm() {
        var productName = document.getElementById('product_name').value.trim();
        var productDescription = document.getElementsByName('product_description')[0].value.trim();
        var regularPrice = document.getElementsByName('regular_price')[0].value.trim();
        var stock = document.getElementById('stock').value.trim();
        var tags = document.getElementsByName('tags')[0].value.trim();

        removeError('productNameError');
        removeError('productDescriptionError');
        removeError('productRegularPriceError');
        removeError('productStockError');
        removeError('productTagsError');


        // Product Title
        if (productName === '') {
            // alert('Please enter a product title.');
            document.getElementById('productNameError').textContent = 'Please enter a product title.';
            return false;
        }

        // Product Description
        if (productDescription === '') {
            //alert('Please enter a product description.');
            document.getElementById('productDescriptionError').textContent = 'Please enter a product description.';
            return false;
        }

        // Regular Price
        if (regularPrice === '') {
            //alert('Please enter a regular price.');
            document.getElementById('productRegularPriceError').textContent = 'Please enter a regular price.';
            return false;
        } else if (isNaN(parseFloat(regularPrice))) {
            //alert('Regular price should be a number.');
            document.getElementById('productRegularPriceError').textContent = 'Regular price should be a number.';
            return false;
        }

        // Stock
        if (stock === '') {
            //alert('Please enter the stock quantity.');
            document.getElementById('productStockError').textContent = 'Please enter the stock quantity.';
            return false;
        } else if (isNaN(parseInt(stock))) {
            //alert('Stock should be a number.');
            document.getElementById('productStockError').textContent = 'Stock should be a number.';
            return false;
        }

        // Tags
        if (tags === '') {
            //alert('Please enter tags for the product.');
            document.getElementById('productTagsError').textContent = 'Please enter tags for the product.';
            return false;
        }

        return true; // Form is valid
    }
        
    </script>
    <script src="../assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/vendors/select2.min.js"></script>
    <script src="../assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="../assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../assets/js/main.js" type="text/javascript"></script>
</body>

</html>