<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-settings-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:49 GMT -->
<head>
    <meta charset="utf-8"> 
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../admin/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="../admin/assets/css/main.css" rel="stylesheet" type="text/css" />

    <style>
        @keyframes vibrate {
            0% { transform: translateY(0); }
            25% { transform: translateY(-5px); }
            50% { transform: translateY(5px); }
            75% { transform: translateY(-5px); }
            100% { transform: translateY(5px); }
        }
    </style>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="../admin/assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/"> <i class="icon material-icons md-home"></i>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/account/view~profile"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/orders/history"><i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/cart/view"> <i class="icon material-icons md-shopping_cart"></i> 
                        <span class="text">Cart</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/wishlist/view"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Wishlist</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../accountSettings/editSettings"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside ">
                <li class="menu-item">
                    <a class="menu-link  text-danger" href="../logout"><i class="material-icons md-exit_to_app"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="../admin/assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="/account/view~profile"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="../logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Account settings</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row gx-5">
                        <aside class="col-lg-3 border-end">
                            <nav class="nav nav-pills flex-lg-column mb-4">
                                <a class="nav-link" href="/account/view~profile">view Profile</a>
                                <a class="nav-link active" aria-current="page">edit Profile</a>
                                <a class="nav-link" href="/account/notifications">Notifications</a>
                                <a class="nav-link" href="/account/security">Security</a>    
                            </nav>
                        </aside>
                        <div class="col-lg-9">
                            <section class="content-body p-xl-4">
                                <form action="/account/edit~profile/submit" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="row gx-3">
                                                <div class="col-lg-12  mb-3">
                                                    <label class="form-label">Name</label>
                                                    <input name="username" class="form-control" type="text" value="{{#if user.username}}{{user.username}}{{/if}}" placeholder="{{#unless user.username}}Name{{/unless}}">
                                                </div> 
                                                <div class="col-lg-6  mb-3">
                                                    <label class="form-label">Email</label>
                                                    <input id="useremail"  name="useremail" class="form-control" type="email" value="{{#if user.useremail }}{{user.useremail}}{{/if}}" placeholder="{{#unless user.useremail}}example@gmail.com{{/unless}}" readonly>
                                                </div> 
                                                <div class="col-lg-6  mb-3">
                                                    <label class="form-label">Phone</label>
                                                    <input name="userphone" class="form-control" type="tel" value="{{#if user.userphone}}{{user.userphone}}{{/if}}" placeholder="{{#unless user.userphone}}+1234567890{{/unless}}">
                                                </div> 
                                                <div class="col-lg-12  mb-3">
                                                    <label class="form-label">Address</label>
                                                </div> 
                                                <div class="col-lg-6  mb-3">
                                                    <input class="form-control" required="required" value="{{#if user.useraddress}}{{user.useraddress.state}}{{/if}}" placeholder="{{#unless user.useraddress}}state{{/unless}}" name="state" type="text">
                                                </div> 
                                                <div class="col-lg-6  mb-3">
                                                    <input class="form-control" required="required" value="{{#if user.useraddress}}{{user.useraddress.district}}{{/if}}" placeholder="{{#unless user.useraddress}}district{{/unless}}" name="district" type="text">
                                                </div> 
                                                <div class="col-lg-6  mb-3">
                                                    <input class="form-control" required="required" value="{{#if user.useraddress}}{{user.useraddress.city}}{{/if}}" placeholder="{{#unless user.useraddress}}city address{{/unless}}" name="city" type="text">
                                                </div> 
                                                <div class="col-lg-6  mb-3">
                                                    <input class="form-control" required="required" value="{{#if user.useraddress}}{{user.useraddress.pin}}{{/if}}" placeholder="{{#unless user.useraddress}}Post/Pin{{/unless}}" name="pin" type="text">
                                                </div> 
                                                <div class="col-lg-12 mb-3">
                                                    <input class="form-control" required="required" value="{{#if user.useraddress}}{{user.useraddress.house}}{{/if}}" placeholder="{{#unless user.useraddress}}House Address{{/unless}}" name="house" type="text">
                                                </div> 
                                            </div> <!-- row.// -->
                                        </div> <!-- col.// -->
                                        <aside class="col-lg-4">
                                            <figure class="text-lg-center">
                                                {{#if user.userimage}}
                                                    <!-- Display the user's existing image -->
                                                    <img class="img-lg mb-3 img-avatar" src="/multer/users/{{user.userimage}}" alt="User Photo">
                                                    <figcaption  style="display: flex; justify-content:center;">
                                                        <label class="btn btn-light rounded font-md">
                                                            <i class="icons material-icons md-backup font-md"></i> Change Image
                                                            <input name="userimage" type="file" accept="image/*" style="display: none;" onchange="previewImage(this)">
                                                        </label>
                                                        <button type="button" id="removeImageButton" onclick="removeImage()" style="display:none; background-color: #ff0000; color: #fff; border: none; border-radius: 5px; padding: 0px 12px; cursor: pointer;">X</button>
                                                    </figcaption>
                                                {{else}}
                                                    <!-- Display the default image and "Upload" caption when there is no image -->
                                                    <img class="img-lg mb-3 img-avatar" src="../usericon/usericon.jpeg" alt="User Photo" id="imagePreview">
                                                    <figcaption style="display: flex; justify-content:center;">
                                                        <label class="btn btn-light rounded font-md">
                                                            <i class="icons material-icons md-backup font-md"></i> Upload Image
                                                            <input name="userimage" type="file" accept="image/*" style="display: none;" onchange="previewImage(this)">
                                                        </label>
                                                        <button type="button" id="removeImageButton" onclick="removeImage()" style="display:none; background-color: #ff0000; color: #fff; border: none; border-radius: 5px; padding: 0px 12px; cursor: pointer;">X</button>
                                                    </figcaption>
                                                {{/if}}
                                            </figure>
                                        </aside>
                                    </div> <!-- row.// -->
                                    <br>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </form>
                            </section> 

                            <div class="col-lg-12">
                            <section class="content-body p-xl-4">
                                <div class="row" style="max-width:920px">
                                    <div class="col-md">
                                        <article class="box mb-3 bg-light">
                                            <a id="vibrating-button" class="btn float-end btn-light rounded btn-sm font-md" href="/account/editprofile/editEmail">click here</a>   
                                            <h6>Change Email</h6>
                                            <small class="text-muted d-block" style="width:70%">Click to change yout email and verify it</small>
                                        </article>
                                    </div> 
                                </div> 
                            </section> 
                        </div>
                    </div> 
                </div> <!-- card body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Konisagg by O Sreerag
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="../admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../admin/assets/js/vendors/select2.min.js"></script>
    <script src="../admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="../admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../admin/assets/js/main.js" type="text/javascript"></script>

    
<script>

    function previewImage(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('imagePreview').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
        document.getElementById('removeImageButton').style.display = 'block';
    }

    function removeImage() {
        // Clear the file input field to remove the selected image
        const fileInput = document.querySelector('input[name="userimage"]');
        fileInput.value = ''; // Clear the value
        // Optionally, you can hide or replace the preview as well
        document.getElementById('imagePreview').src = '../usericon/usericon.jpeg'; // Replace with the default image
        // Hide the "Remove Image" button when the image is removed
        document.getElementById('removeImageButton').style.display = 'none';
    }

    const inputField = document.getElementById('useremail');
    const vibratingButton = document.getElementById('vibrating-button');

    inputField.addEventListener('click', () => {
        vibrateButton();
    });

    function vibrateButton() {
        vibratingButton.style.animation = 'vibrate 0.2s 4';
        vibratingButton.style.animationFillMode = 'both';

        // Clear the animation after a short delay to allow for replay
        setTimeout(() => {
        vibratingButton.style.animation = '';
        }, 400); // Adjust the delay as needed
    }
</script>

</body>

</html>