<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />

    <style>
        .search-container {
            display: inline-block; /* Ensures div takes up only as much width as its content */
            position: relative; /* Positions child elements relative to this container */
        }

        #searchResults {
            display: none; /* Initially hide search results */
            position: absolute;
            top: 100%; /* Position it below the input */
            width: 100%; /* Same width as input */
            background-color: white; /* Optional: Background color for contrast */
            border: 1px solid #ccc; /* Optional: Border for visual distinction */
            z-index: 1; /* Ensure it appears above other elements */
        }
    </style>
        <style>
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .pagination-link {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
  }

  .pagination-link:hover {
    background-color: #f0f0f0;
  }

  .pagination-link.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    pointer-events: none;
  }
</style>
</head>

<body>
    <div class="screen-overlay"></div>

    {{!-- Menu left --}}
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="../admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../admin/categories"> <i class="icon material-icons md-store"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="../admin/products"><i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../admin/addProduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers/category-offers"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="../admin/banners"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Banners</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../admin/coupens"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Coupons </span>
                    </a>
                </li>
                <hr>
                <li class="menu-item">
                    <a class="menu-link" style="color:red" href="../admin/logout"><i class="material-icons md-exit_to_app"></i>
                        <span class="text"> Logout </span>
                    </a>
                </li>
            </ul>
            <hr>
        </nav>
    </aside>


    {{!-- Right side --}}
    <main class="main-wrap">

        {{!-- Header right --}}
        <header class="main-header navbar">
            <div class="col-nav ms-auto"> <!-- Utilizing ms-auto (margin-left: auto) to align content to the right -->
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                    <i class="material-icons md-apps"></i>
                </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                            <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout">
                                <i class="material-icons md-exit_to_app"></i>Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        {{!-- Body right --}}
        <section class="content-main">

            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List &nbsp;</h2>
                    <p></p>
                </div>
                <div>
                    <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>

            {{#if productList}}
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="search-container col-lg-4 col-md-6 me-auto ">
                            <input type="text" placeholder="Search..."  onkeyup="sendData(this)" class="form-control" id="search-box">
                            <section id="searchResults"></section>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">

                    <div id="productTable" class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="50%">Product</th>
                                    <th width="20%">Price</th>
                                    <th width="20%">Status</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each productList}}
                                <tr>
                                    <td>
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img src="../multer/products/cropped-{{productimages.[0]}}" class="img-sm img-thumbnail" alt="Item">
                                            </div>
                                            <div class="d-flex" style="flex-direction:column">
                                                <div class="info" id="{{_id}}">
                                                    {{productname}}
                                                </div>
                                                <div class="info">
                                                    {{_id}}
                                                </div>
                                            </div>    
                                        </a>
                                    </td>
                                    <td>
                                        {{#if promotionalprice}}
                                        <span>₹{{promotionalprice}}</span>
                                        <span style="text-decoration: line-through;">₹{{regularprice}}</span>
                                        {{else}}
                                        <span>₹{{regularprice}}</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{#if (eq status true)}}
                                        <span class="badge rounded-pill alert-success">Active</span>
                                        {{else}}
                                        <span class="badge rounded-pill alert-danger">Disabled</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/admin/product/edit?productId={{_id}}">Edit Info</a>
                                                <a class="dropdown-item" href="/admin/product/editImage?productId={{_id}}">Edit Images</a>
                                                <a class="dropdown-item" href="/admin/offers/product/addOffer?productId={{_id}}">Create Offer</a>
                                                {{#if (eq status true)}}
                                                <a class="dropdown-item text-danger" href="/admin/product/delete?productId={{_id}}">Disable</a>
                                                {{else}}
                                                <a class="dropdown-item text-success" href="/admin/product/delete?productId={{_id}}">Able</a>
                                                {{/if}}
                                            </div>
                                        </div> 
                                    </td>
                                </tr>
                                {{/each}}
                                <!-- Your Handlebars template -->
                                <div class="pagination">
                                    {{#if hasPreviousPage}}
                                        <a href="?page={{previousPage}}" class="pagination-link">Previous</a>
                                    {{/if}}

                                    {{#each pageNumbers}}
                                        <a href="?page={{this}}" class="pagination-link {{#if (eq this ../currentPage)}}active{{/if}}">{{this}}</a>
                                    {{/each}}

                                    {{#if hasNextPage}}
                                        <a href="?page={{nextPage}}" class="pagination-link">Next</a>
                                    {{/if}}
                                </div>
                                <br>
                            </tbody>
                        </table>
                    </div>
                    {{!-- <div class="pagination" id="pagination">
                    <button class="pagination-button active">1</button>
                    </div>
                    <div id="dynamicData" data-collection='{{productList}}'></div> --}}
                </div> 
            </div> <!-- card end// -->
            {{else}}
            <div class="card">
                <br>
                <p style="color: red;">&nbsp; There are no products yet</p>
                <br>
            </div>
            {{/if}}
        </section> <!-- content-main end// -->


        {{!-- footer --}}
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Konisagg - Ecom by O Sreerag .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>

    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
         <!-- SweetAlert CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>


    function sendData(e) {
    const tableBody = document.querySelector('tbody');
    fetch('/admin/products/search', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ payload: e.value })
    })
    .then(res => res.json())
    .then(data => {
        let payload = data.payload
        console.log(payload);
        tableBody.innerHTML = '';
        if (payload == null || payload.length === 0) {
            // Handle empty or no search results
            tableBody.innerHTML = '<tr><td colspan="5">Sorry. Nothing Found.</td></tr>';
            return;
        }
        payload.forEach((item, index) => {
            const template = `
                <tr>
                    <td>
                        <a class="itemside" href="#">
                            <div class="left">
                                <img src="../multer/products/cropped-${item.productimages[0]}" class="img-sm img-thumbnail" alt="Item">
                            </div>
                            <div class="d-flex" style="flex-direction:column">
                                <div class="info" id="${item._id}">
                                    ${item.productname}
                                </div>
                                <div class="info">
                                    ${item._id}
                                </div>
                            </div>    
                        </a>
                    </td>
                    <td>
                        ${item.promotionalprice ? `<span>$${item.promotionalprice}</span><span style="text-decoration: line-through;">$${item.regularprice}</span>` : `<span>$${item.regularprice}</span>`}
                    </td>
                    <td>
                        <span class="badge rounded-pill alert-success">Active</span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/admin/product/edit?productId=${item._id}">Edit Info</a>
                                <a class="dropdown-item" href="/admin/product/editImage?productId=${item._id}">Edit Images</a>
                                <a class="dropdown-item" href="/admin/offers/product/addOffer?productId=${item._id}">Create Offer</a>
                                <a class="dropdown-item text-danger" href="/admin/product/delete?productId=${item._id}">Delete</a>
                            </div>
                        </div> 
                    </td>
                </tr>
            `;
            tableBody.insertAdjacentHTML('beforeend', template);
        });
    });
}


    </script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Check if the bannerMessage exists and is not empty
    const bannerMessage = "{{ Message }}";
    if (bannerMessage) {
      // Trigger SweetAlert to display the bannerMessage
      Swal.fire({
        title: 'Notification',
        text: bannerMessage,
        icon: 'info',
        // You can add more configurations as needed
      });
    }
  });
</script>
</body>

</html>