<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-settings-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:49 GMT -->
<head>
    <meta charset="utf-8"> 
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../admin/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="../admin/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../user/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="../admin/assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn-aside-minimize" style="background-color: transparent; border: 1px solid transparent;"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/"> <i class="icon material-icons md-home"></i>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/account/view~profile"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/orders/history"><i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/cart/view"> <i class="icon material-icons md-shopping_cart"></i> 
                        <span class="text">Cart</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/wishlist/view"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Wishlist</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside ">
                <li class="menu-item">
                    <a class="menu-link  text-danger" href="../logout"><i class="material-icons md-exit_to_app"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-nav ms-auto">
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="../admin/assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="../logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main">
            <div class="container">

                
                {{!-- Cart table --}}
                <div class="content-header">
                    <h2 class="content-title">Your Cart</h2>
                </div>
                {{#if cartItems}}
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" width="12%">Index</th>
                                    <th scope="col" width="12%">Image</th>
                                    <th scope="col" width="12%">Name</th>
                                    <th scope="col" width="12%">Spec</th>
                                    <th scope="col" width="12%">Price</th>
                                    <th scope="col" width="12%">Quantity</th>
                                    <th scope="col" width="12%">Subtotal</th>
                                    <th scope="col" width="12%">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each cartItems}}
                                <tr>
                                    <td>{{@index}}</td>
                                    <td class="image product-thumbnail"><img src="../multer/products/cropped-{{product.productimages.[0]}}" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="shop-product-right.html">{{product.productname}}</a></h5>
                                        </p>
                                    </td>
                                    <td class="Spec" data-title="Spec"> <div>color: {{color}}</div>  <div>size: {{size}}</div></td>
                                    {{#if product.promotionalprice}}
                                    <td class="price" data-title="Price"><span>₹{{product.promotionalprice}}</span></td>
                                    <td class="text-center" data-title="Stock">
                                        {{#if (eq product.status true)}}
                                            <div class="detail-qty border radius  m-auto">
                                                <div onclick="handleQuantity(1, '{{ItemId}}', '{{product.promotionalprice}}', '{{product.stock}}')" id="increment-quantity" class="qty-up" style="cursor: pointer;">
                                                    <i class="fi-rs-angle-small-up"></i>
                                                </div>
                                                <span class="qty-val" id="quantityElement{{ItemId}}">{{quantity}}</span>
                                                <div onclick="handleQuantity(-1, '{{ItemId}}' , '{{product.promotionalprice}}', '{{product.stock}}')" id="decrement-quantity" class="qty-down" style="cursor: pointer;">
                                                    <i class="fi-rs-angle-small-down"></i>
                                                </div>
                                            </div>
                                        {{else}}
                                            <p class="text-danger">This item is no longer available</p>
                                        {{/if}}
                                    </td>
                                    {{else}}
                                    <td class="price" data-title="Price"><span>{{product.selected_Currency}}{{product.regularprice}}</span></td>
                                    <td class="text-center" data-title="Stock">
                                        {{#if (eq product.status true)}}
                                            <div class="detail-qty border radius  m-auto">
                                                <div onclick="handleQuantity(1, '{{ItemId}}', '{{product.regularprice}}' , '{{product.stock}}')" id="increment-quantity" class="qty-up" style="cursor: pointer;">
                                                    <i class="fi-rs-angle-small-up"></i>
                                                </div>
                                                <span class="qty-val" id="quantityElement{{ItemId}}">{{quantity}}</span>
                                                <div onclick="handleQuantity(-1, '{{ItemId}}' , '{{product.regularprice}}' , '{{product.stock}}')" id="decrement-quantity" class="qty-down" style="cursor: pointer;">
                                                    <i class="fi-rs-angle-small-down"></i>
                                                </div>
                                            </div>
                                        {{else}}
                                            <p class="text-danger">This item is no longer available</p>
                                        {{/if}}
                                    </td>
                                    {{/if}}
                                    <td class="text-right" data-title="Cart">
                                        {{#if (eq present false)}}
                                            <p class="text-danger outOfStock" id="outOfStock{{ItemId}}" style="display: block;">Out of stock</p>
                                        {{else}}
                                            <p class="text-danger outOfStock" id="outOfStock{{ItemId}}" style="display: none;">Out of stock</p>
                                        {{/if}}
                                        <span><div  id="subtotal{{ItemId}}">{{price}}</div></span>
                                    </td>
                                    <td class="action" data-title="Remove"><a href="/cart/delete?itemId={{product._id}}&color={{color}}&size={{size}}" class="text-muted"><i class="fi-rs-trash"></i></a></td>
                                </tr>
                                {{/each}}
                                <tr>
                                    <td colspan="12" class="text-end">
                                        <a href="/cart/delete/all" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-action text-end">
                        <a class="btn" href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                    </div>
                </div>
                {{!-- table end --}}

                {{!-- Cart total --}}
                <div class="divider center_icon mt-50 mb-50"></div>
                    <div class="col-lg-6 col-md-12">
                        <div class="heading_s1 mb-3">
                            <h4>Cart Totals</h4>
                        </div>
                        <div class="border p-md-4 p-30 border-radius cart-totals">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cart_total_label">Total</td>
                                            <td class="cart_total_amount"><strong>$<span class="font-xl fw-900 text-brand" id="totalPrice">{{total}}</span></strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            {{#if (eq isActive true)}}
                            <div id="proceedToCheckout1">                                
                                {{#if isPhoneEmpty}}
                                    <div class="d-flex justify-content-between">
                                        <p style="color: red;">Phone number should be added.</p>
                                        <a href="/account/edit~profile"><button class="btn" type="submit">Add</button></a>
                                    </div>
                                {{else if isAddressEmpty}}
                                    <div class="d-flex justify-content-between">
                                        <p style="color: red;">No addresses have been added.</p>
                                        <a href="/checkout"><button class="btn" type="submit"><i class="fi-rs-box-alt mr-10"></i>Proceed To CheckOut</button></a>      
                                    </div>
                                {{else}}
                                    <a href="/checkout"><button class="btn" type="submit"><i class="fi-rs-box-alt mr-10"></i>Proceed To CheckOut</button></a>      
                                {{/if}}
                            </div>
                            <div id="proceedToCheckout2" style="display: none;">
                                <div class="d-flex justify-content-between">
                                    <p style="color: red;">Enter valid stocks.</p>  
                                </div>
                            </div>
                            {{else}}
                                <div class="d-flex justify-content-between">
                                    <p style="color: red;">Remove the unavailable products.</p>
                                </div>
                            {{/if}}
                        </div>
                    </div>
            </div>
            {{else}}
                <div class="card-body">
                    <p style="color: red;">there are no items in cart yet</p>
                </div>
            {{/if}}
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Konisagg by O Sreerag
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="../admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../admin/assets/js/vendors/select2.min.js"></script>
    <script src="../admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="../admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../admin/assets/js/main.js" type="text/javascript"></script>
        <!-- SweetAlert CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

  document.addEventListener("DOMContentLoaded", function () {
    console.log("proceed to checkout validation")
    const outOfStockElements = document.querySelectorAll('.outOfStock')
    console.log(outOfStockElements)

    let flag = true

    outOfStockElements.forEach(element => {
        if (element.style.display === 'block') {
            // Perform your action here when an element is displayed
            console.log(`Element ${element.id} is displayed as Out of stock`)
            flag = false

            const proceedToCheckout1 = document.getElementById('proceedToCheckout1');
            const proceedToCheckout2 = document.getElementById('proceedToCheckout2');
            proceedToCheckout1.style.display = 'none';
            proceedToCheckout2.style.display = 'block';
        }
    });

    if(flag == true) {
        const proceedToCheckout2 = document.getElementById('proceedToCheckout2');
        const proceedToCheckout1 = document.getElementById('proceedToCheckout1');
        proceedToCheckout1.style.display = 'block'
        proceedToCheckout2.style.display = 'none';
    } 
  });

    function handleQuantity(increment, ItemId, price, stock) {
        console.log(increment, ItemId, price, stock)

        const quantityElementId = `quantityElement${ItemId}`;
        const quantityElement = document.getElementById(quantityElementId);
        const currentQuantity = parseInt(quantityElement.textContent, 10);
        const newQuantity = currentQuantity + increment;

        const outOfStockElementId = `outOfStock${ItemId}`;
        const outOfStock = document.getElementById(outOfStockElementId)

        // Check if newQuantity is within the stock limits
        if (newQuantity < 1) {
            // Quantity cannot be less than 1
            console.log(newQuantity)
            console.log('Cannot set quantity less than 1');
            return;
        } else if (newQuantity > stock) {
            // Quantity exceeds available stock
            console.log(newQuantity)
            console.log('Out of stock');
            outOfStock.textContent = "Out of stock"
            document.getElementById(outOfStockElementId).style.display = 'block'
        } else {
            document.getElementById(outOfStockElementId).style.display = 'none'
        }

        quantityElement.textContent = newQuantity;

        const subtotalElementId = `subtotal${ItemId}`;
        const subtotalElement = document.getElementById(subtotalElementId);
        const currentSubtotal = parseFloat(subtotalElement.textContent);
        let newSubtotal = newQuantity * price
        subtotalElement.textContent = newSubtotal.toFixed(2);
        
        const totalElement = document.getElementById("totalPrice"); 
        const totalPrice = parseFloat(totalElement.textContent);
        const newTotalPrice = totalPrice - currentSubtotal + newSubtotal;
        totalElement.textContent = newTotalPrice.toFixed(2);

        console.log("proceed to checkout validation")
        const outOfStockElements = document.querySelectorAll('.outOfStock')
        console.log(outOfStockElements)

        let flag = true

        outOfStockElements.forEach(element => {
            if (element.style.display === 'block') {
                // Perform your action here when an element is displayed
                console.log(`Element ${element.id} is displayed as Out of stock`)
                flag = false

                const proceedToCheckout1 = document.getElementById('proceedToCheckout1');
                const proceedToCheckout2 = document.getElementById('proceedToCheckout2');
                proceedToCheckout1.style.display = 'none';
                proceedToCheckout2.style.display = 'block';
            }
        });

        if(flag == true) {
            const proceedToCheckout2 = document.getElementById('proceedToCheckout2');
            const proceedToCheckout1 = document.getElementById('proceedToCheckout1');
            proceedToCheckout1.style.display = 'block'
            proceedToCheckout2.style.display = 'none';
        } 

        fetch(`/cart/update-quantity?increment=${increment}&ItemId=${ItemId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
        })
        .then(response => {
            if (response.ok) {
                // Handle the response from the server
            } else {
                // Handle errors
            }
        })
        .catch(error => {
            console.error('API request failed:', error);
        });
    }

    </script>

     <script>
  document.addEventListener("DOMContentLoaded", function () {
    // Check if the bannerMessage exists and is not empty
    const bannerMessage = "{{ Message }}";
    if (bannerMessage) {
      // Trigger SweetAlert to display the bannerMessage
      Swal.fire({
        title: 'Notification',
        text: bannerMessage,
        icon: 'info',
        // You can add more configurations as needed
      });
    }
  });
</script>
</body>

</html>