<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-settings-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:49 GMT -->
<head>
    <meta charset="utf-8"> 
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../admin/assets/imgs/theme/favicon.svg">
    <!-- late CSS -->
    <link href="../admin/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="../admin/assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/"> <i class="icon material-icons md-home"></i>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/account/view~profile"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                </li>
                <li class="menu-item  active">
                    <a class="menu-link" href="/orders/history"><i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/cart/view"> <i class="icon material-icons md-shopping_cart"></i> 
                        <span class="text">Cart</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/wishlist/view"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Wishlist</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside ">
                <li class="menu-item">
                    <a class="menu-link  text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-nav ms-auto">
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="../admin/assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main">
            <br><br>
            <div class="content-header">
                <h2 class="content-title">Orders Mangement</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                    <div class="col-lg-12">
                        <section class="content-body p-xl-4">
                            <div class="content-header">
                                <div>
                                    <h2 class="content-title card-title">Order detail</h2>
                                    <p>Details for Order ID: {{order.orderId}}</p>
                                </div>
                            </div>
                            <div class="card">
                                <header class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                            <span>
                                                <i class="material-icons md-calendar_today"></i>
                                                <script>
                                                    var updatedAt = "{{order.updatedAt}}"; // Assuming updatedAt is a string
                                                    var slicedValue = updatedAt.slice(0, 10);
                                                    document.write(slicedValue); // Output the sliced value
                                                </script>
                                            </span> <br>
                                            <small class="text-muted">{{order.orderId}}</small>
                                        </div>
                                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                            {{#if statusPending}}
                                                <a class="btn btn-danger" href="/order/cancel?orderId={{order._id}}">Cancel</a>
                                            {{/if}}
                                            {{#if statusDelivered}}
                                                <a class="btn btn-danger" href="/order/return?orderId={{order._id}}">Return</a>
                                            {{/if}}
                                            {{#if statusCancelReq}}
                                                <p style="color: rgb(225, 255, 0)">Cancel Requested</p>
                                            {{/if}}
                                            {{#if statusCancelled}}
                                                <p style="color: red">Order cancelled</p>
                                            {{/if}}
                                            {{#if statusRR}}
                                                <p style="color: rgb(225, 255, 0)">Return requested</p>
                                            {{/if}}
                                            {{#if statusRA}}
                                                <p style="color: red">Return accepted</p>
                                            {{/if}}
                                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                                        </div>
                                    </div>
                                </header> <!-- card-header end// -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="40%">Product</th>
                                                            <th width="20%">Unit Price</th>
                                                            <th width="20%">Quantity</th>
                                                            <th width="10%">Total</th>
                                                            <th width="10%" class="text-end">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each order.products}}
                                                        <tr>
                                                            <td>
                                                                <a class="itemside" href="#">
                                                                    <div class="left">
                                                                        {{!-- <img src="/multer/products/cropped-{{product.productimages.[0]}}" width="40" height="40" class="img-xs" alt="Item"> --}}
                                                                        <img src="{{product.productimages.[0]}}" width="40" height="40" class="img-xs" alt="Item">
                                                                    </div>
                                                                    <div class="info"> {{product.productname}} </div>
                                                                </a>
                                                            </td>
                                                            {{#if product.promotionalprice}} 
                                                            <td> ₹{{product.promotionalprice}} </td>
                                                            {{else}}
                                                            <td> ₹{{product.regularprice}} </td>
                                                            {{/if}}
                                                            <td> {{quantity}} </td>
                                                            <td> ₹{{price}} </td>
                                                            <td class="text-end">
                                                                {{#if (eq status "cancel")}}
                                                                    <a onclick="cancelSingleProduct('{{product._id}}')">cancel</a>
                                                                {{else if (eq status "cancelled")}}
                                                                    <p style="color: red;">cancelled</p>
                                                                {{else if (eq status "return")}}
                                                                    <a onclick="returnSingleProduct('{{product._id}}')">return</a>
                                                                {{else if (eq status "returned")}}
                                                                    <p style="color: red;">returned</p>
                                                                {{else}}
                                                                    <a href=""></a>
                                                                {{/if}}
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                        <tr>
                                                            <td colspan="4">
                                                                <article class="float-end">
                                                                    <dl class="dlist">
                                                                        <dt>Sub total:</dt>
                                                                        <dd> <b class="h6">₹{{order.total}}</b> </dd>
                                                                    </dl>
                                                                    {{#if order.totalWithDiscount}}
                                                                    <dl class="dlist">
                                                                        <dt>Discount:</dt>
                                                                        <dd> <b class="h6">₹{{order.discount}}</b> </dd>
                                                                    </dl>
                                                                    <dl class="dlist">
                                                                        <dt>Grand total:</dt>
                                                                        <dd> <b class="h5">₹{{order.totalWithDiscount}}</b> </dd>
                                                                    </dl>
                                                                    {{else}}
                                                                    <dl class="dlist">
                                                                        <dt>Discount:</dt>
                                                                        <dd> <b class="h6">₹{{order.discount}}</b> </dd>
                                                                    </dl>
                                                                    <dl class="dlist">
                                                                        <dt>Grand total:</dt>
                                                                        <dd> <b class="h5">₹{{order.total}}</b> </dd>
                                                                    </dl>
                                                                    {{/if}}
                                                                    <dl class="dlist">
                                                                        <dt class="text-muted">Status:</dt>
                                                                        <dd>
                                                                            <span class="badge rounded-pill alert-success text-success">{{order.paymentStatus}}</span>
                                                                        </dd>
                                                                    </dl>
                                                                </article>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div> 
                                        </div> 
                                    </div>
                                        <div class="col-md-12">
                                        <article class="icontext align-items-start">
                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                <i class="text-primary material-icons md-place"></i>
                                            </span>
                                            <div class="text">
                                                <h6 class="mb-1">Deliver to</h6>
                                                <p class="mb-1">
                                                    {{#if orders.userAddress.state}}
                                                    State: {{order.userAddress.state}}, District: {{order.userAddress.district}}, City: {{order.userAddress.city}}, {{order.userAddress.house}}, Po Box: {{order.userAddress.pin}}
                                                    {{else}}
                                                    State: {{order.userAddress.selectedState}}, District: {{order.userAddress.selectedDistrict}}, City: {{order.userAddress.selectedCity}}, {{order.userAddress.selectedHouse}}, Po Box: {{order.userAddress.selectedPin}}
                                                    {{/if}}
                                                </p>
                                            </div>
                                        </article>
                                    </div> <!-- col// -->
                                </div> 
                            </div> 
                        </section>

                    </div>
                </div> 
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Konisagg by O Sreerag
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="../admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../admin/assets/js/vendors/select2.min.js"></script>
    <script src="../admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="../admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../admin/assets/js/main.js" type="text/javascript"></script>
            <!-- SweetAlert CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
<script>
    function cancelSingleProduct(productId) {
        console.log("cancel single product")
        const orderId = {{{orderId}}};
        console.log(orderId, productId);
    
        const url = `/order/cancel/singleProduct?orderId=${orderId}&productId=${productId}`;

        fetch(url, {
            method: 'POST', // or 'GET', 'PUT', 'DELETE', etc., based on your server's requirements
            // You can include headers, body, or other configurations as needed
        })
        .then(response => {
            // Handle the response from the server
            // For example, check response.ok and handle accordingly
            if (response.ok) {
                // Process successful response
                console.log('Cancellation request sent successfully');
            } else {
                // Handle errors
                console.error('Cancellation request failed');
            }
        })
        .catch(error => {
            // Handle fetch errors
            console.error('Error:', error);
        });
        
    }

function returnSingleProduct(productId) {
        console.log("return single product")
        const orderId = {{{orderId}}};
        console.log(orderId, productId);
    
        const url = `/order/return/singleProduct?orderId=${orderId}&productId=${productId}`;

        fetch(url, {
            method: 'POST', // or 'GET', 'PUT', 'DELETE', etc., based on your server's requirements
            // You can include headers, body, or other configurations as needed
        })
        .then(response => {
            // Handle the response from the server
            // For example, check response.ok and handle accordingly
            if (response.ok) {
                // Process successful response
                console.log('return request sent successfully');
            } else {
                // Handle errors
                console.error('return request failed');
            }
        })
        .catch(error => {
            // Handle fetch errors
            console.error('Error:', error);
        });
        
    }


      document.addEventListener("DOMContentLoaded", function () {
    // Check if the bannerMessage exists and is not empty
    const bannerMessage = "{{ Message }}";
    if (bannerMessage) {
      // Trigger SweetAlert to display the bannerMessage
      Swal.fire({
        title: 'Notification',
        text: bannerMessage,
        icon: 'info',
        // You can add more configurations as needed
      });
    }
  });

</script>

</body>

</html>