<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user/assets/css/main.css">
    <style>
        .menuMIL {
            list-style: none;
            padding: 0;
        }

        .menu-itemMIL {
            position: relative;
            margin-bottom: 10px;
        }

        .submenuMIL {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            padding: 10px;
            background-color: #f5f5f5;
        }

        .search-container {
            display: inline-block; /* Ensures div takes up only as much width as its content */
            position: relative; /* Positions child elements relative to this container */
            width: 700px;
        }

        #searchResults {
            display: none; /* Initially hide search results */
            position: absolute;
            top: 100%; /* Position it below the input */
            width: 80%; /* Same width as input */
            background-color: white; /* Optional: Background color for contrast */
            border: 1px solid #ccc; /* Optional: Border for visual distinction */
            z-index: 1; /* Ensure it appears above other elements */
        }

        
    </style>

 <style>
/* Pagination styles */
.paginationCustom {
    margin-top: 20px !important;
    text-align: center !important;
}

.paginationCustom-link,
.paginationCustom-link-prev,
.paginationCustom-link-next {
    display: inline-block !important;
    padding: 5px 10px !important;
    margin: 0 2px !important;
    border: 1px solid #ccc !important;
    text-decoration: none !important;
    color: #333 !important;
    border-radius: 3px !important;
}

.paginationCustom-link:hover {
    background-color: #f4f4f4 !important;
}

.paginationCustom-current-page {
    background-color: #007bff !important;
    color: #fff !important;
    border-color: #007bff !important;
    padding: 6px 12px !important; /* Adjust for better alignment with other links */
    border-radius: 3px !important;
}
</style>

</head>

<body>

    <!-- Header -->
    <header class="header-area header-style-1 header-height-2">
        <!-- Nav-top -->
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="user/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="">         
                                <select class="select-active" onchange="fetchProducts(this.value)">
                                    <option  value="allCategories">All Categories</option>
                                    {{#each allCategories}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                                <div class="search-container">
                                    <input type="text" id="search-box" onkeyup="sendData(this)" placeholder="Search for items...">
                                    <section id="searchResults"></section>
                                </div>
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist/view">
                                        <img class="svgInject" alt="Evara"
                                            src="user/assets/imgs/theme/icons/icon-heart.svg">
                                        {{#if wishlistItemCount}}
                                        <span class="pro-count blue">{{wishlistItemCount}}</span>
                                        {{/if}}
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart/view">
                                        <img alt="Evara" src="user/assets/imgs/theme/icons/icon-cart.svg">
                                        {{#if cartItemCount}}
                                        <span class="pro-count blue">{{cartItemCount}}</span>
                                        {{/if}}
                                    </a>
                                </div>
                                {{#if loginStatus}}
                                <div class="header-action-icon-2 dropdown nav-item">
                                    <a href="user-profile.html" data-bs-toggle="dropdown" id="dropdownAccount"
                                        aria-expanded="false">
                                        {{#if userimage}}
                                        <img class="svgInject" alt="Evara" src="multer/users/{{userimage}}" style="border-radius:50px; height:27px; width:27px">
                                        {{else}}
                                        <img class="svgInject" alt="Evara" src="../images/user-icon-2.png">
                                        {{/if}}
                                        {{!-- <span class="pro-count blue">4</span> --}}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                        <a class="dropdown-item" href="/account/view~profile"><i class="material-icons md-settings"></i>Account Settings</a>
                                        <a class="dropdown-item" href="/orders/view"><i class="material-icons md-account_balance_wallet"></i>Orders</a>
                                        <a class="dropdown-item" href="/account/view~profile"><i class="material-icons md-receipt"></i>Cart</a>
                                        <a class="dropdown-item" href="/cart/view"><i class="material-icons md-help_outline"></i>Add address</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of Nav-middle -->

        <!-- Nav-bottom -->
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li class="position-static"><a href="#">Mega menu <i
                                                class="fi-rs-angle-down"></i></a>
                                        <ul class="mega-menu">
                                            {{#each parentCategories}}
                                            <li class="sub-mega-menu sub-mega-menu-width-22">
                                                <a class="menu-title" href="/shop?categoryId={{_id}}">{{name}}</a>
                                                    {{!-- onclick="fetchProducts('{{_id}}')" --}}
                                                <ul>
                                                    {{#each subCategoriesData}}
                                                    <li><a href="/shop?categoryId={{_id}}">{{name}}</a></li>
                                                    {{/each}}
                                                </ul>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                    <li><a href="/">Home</a>
                                    </li>
                                    <li><a class="active" href="./shop">Shop</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        {{#if loginStatus}}
                        <a href="/account/view~profile"><i class="fi-rs-user"></i>{{username}}</a>
                        {{else}}
                        <a href="../login"><i class="fi-rs-user"></i> Log In / Sign Up</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end of Nav-bottom -->
    <!-- end of Header -->

    {{!-- body --}}
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>

        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                {{#each allCategories}}
                                <li><a href="/shop?categoryId={{_id}}" >{{this.name}}</a></li>
                                {{/each}}
                                {{!-- onclick="fetchProducts('{{_id}}')" --}}
                            </ul>
                        </div>
                        <input type="text" id="ForCategoryIdentification" value="AllCategories" hidden>
                    </div>
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            <div class="total-product">
                                <p> We found <strong class="text-brand">{{productsLength}}</strong> items for you!</p>
                            </div>
                            <!-- Hidden input field for storing the category value -->
                            <input type="hidden" id="hiddenCategory" value="All Categories">
                                    
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="" onclick="fetchDataBasedOnOption(1)">Featured</a></li>
                                            <li><a href="" onclick="fetchDataBasedOnOption(2)">Price: Low to High</a></li>
                                            <li><a href="" onclick="fetchDataBasedOnOption(3)">Price: High to Low</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-grid-3">
                            {{#each productList}}
                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/shop/product/details?productid={{_id}}">
                                                <img class="default-img"
                                                    src="/multer/products/cropped-{{productimages.[0]}}" alt="">
                                                <img class="hover-img"
                                                    src="/multer/products/cropped-{{productimages.[1]}}" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                href="/wishlist/add/?wishlistItemId={{_id}}"><i
                                                    class="fi-rs-heart"></i></a>
                                        </div>
                                        {{!-- <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div> --}}
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">{{categories.[0]}}</a>
                                        </div>
                                        <h2><a href="shop-product-right.html">{{productname}}</a></h2>
                                        <div class="product-price">
                                            {{#if promotionalprice}}
                                            <span>₹{{promotionalprice}}</span>
                                            <span class="old-price">₹{{regularprice}}</span>
                                            {{else}}
                                            <span>₹{{regularprice}}</span>
                                            {{/if}}
                                        </div>
                                        {{!-- <div class="product-action-1 show">
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span>95%</span>
                                                </span>
                                            </div>
                                        </div> --}}
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <!-- Pagination -->

                            {{!-- <div class="paginationCustom">
                                {{#if hasPreviousPage}}
                                    <a href="?page={{previousPage}}" class="paginationCustom-link-prev">Previous</a>
                                {{/if}}

                                {{#each pageNumbers}}
                                    {{#ifCond this ../currentPage '==='}}
                                        <span class="paginationCustom-current-page">{{this}}</span>
                                    {{else}}
                                        <a href="?page={{this}}" class="paginationCustom-link">{{this}}</a>
                                    {{/ifCond}}
                                {{/each}}

                                {{#if hasNextPage}}
                                    <a href="?page={{nextPage}}" class="paginationCustom-link-next">Next</a>
                                {{/if}}
                            </div> --}}

                            <div class="paginationCustom">
                                {{#if hasPreviousPage}}
                                    <a href="?page={{previousPage}}{{#if categoryId}}&categoryId={{categoryId}}{{/if}}" class="paginationCustom-link-prev">Previous</a>
                                {{/if}}

                                {{#each pageNumbers}}
                                    {{#ifCond this ../currentPage '==='}}
                                        <span class="paginationCustom-current-page">{{this}}</span>
                                    {{else}}
                                        {{!-- <a href="?page={{this}}{{#if categoryId}}&categoryId={{categoryId}}{{/if}}" class="paginationCustom-link">{{this}}</a> --}}
                                        <a href="javascript:void(0)" onclick="navigateToPage('{{this}}')" class="paginationCustom-link">{{this}}</a>
                                    {{/ifCond}}
                                {{/each}}

                                {{#if hasNextPage}}
                                    <a href="?page={{nextPage}}{{#if categoryId}}&categoryId={{categoryId}}{{/if}}" class="paginationCustom-link-next">Next</a>
                                {{/if}}
                            </div>

                            <br>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

    </main>

    {{!-- footer --}}
    <footer class="main">
        <hr>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="/user/assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/user/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/user/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/user/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/user/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                            src="/user/assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/user/assets/imgs/theme/google-play.jpg"
                                            alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/user/assets/imgs/theme/payment-method.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong
                            class="text-brand"> Konisagg </strong> -an app by O Sreerag</p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights
                        reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    {{!-- end of footer --}}

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/plugins/slick.js"></script>
    <script src="/user/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/assets/js/plugins/wow.js"></script>
    <script src="/user/assets/js/plugins/jquery-ui.js"></script>
    <script src="/user/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/assets/js/plugins/magnific-popup.js"></script>
    <script src="/user/assets/js/plugins/select2.min.js"></script>
    <script src="/user/assets/js/plugins/waypoints.js"></script>
    <script src="/user/assets/js/plugins/counterup.js"></script>
    <script src="/user/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/assets/js/plugins/images-loaded.js"></script>
    <script src="/user/assets/js/plugins/isotope.js"></script>
    <script src="/user/assets/js/plugins/scrollup.js"></script>
    <script src="/user/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/user/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/user/assets/js/main.js"></script>
    <script src="/user/assets/js/shop.js"></script>
    {{!-- sweet alert --}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    function navigateToPage(pageNumber) {
        const categoryId = "{{categoryId}}"
        let url = `?page=${pageNumber}`;
        if (categoryId !== undefined) {
            url += `&categoryId=${categoryId}`;
        }
        window.location.href = url;
    }
</script>
<script>

    function sendData(e) {
        const searchResults = document.getElementById('searchResults')
        fetch('/shop/search', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ payload: e.value })
        })
        .then(res => res.json())
        .then(data => {
            let payload = data.payload
            console.log(payload)
            searchResults.innerHTML = ''
            if (payload == "payloadEmpty"){
                searchResults.style.display = 'none';
            }else if (payload.length < 1) {
                searchResults.innerHTML = '<p>Sorry. Nothing Found.</p>';
                searchResults.style.display = 'block';
                return
            } else {
                searchResults.style.display = 'block';
            }
            payload.forEach((item, index) => {
                if(index > 0) searchResults.innerHTML += `<hr>`
                //searchResults.innerHTML += `<p>${item.productname}</p>`
                searchResults.innerHTML+=`<div onclick="window.location.href='/shop/product/details?productid=${item._id}'" class="d-flex"  style="align-items: center; justify-content: space-around;"><img src="/multer/products/cropped-${item.productimages[0]}" style="width: 50px; border-radius: 50%;" alt="Product Image"><p>${item.productname}<p></div>`
            })
            return
        })
    }

    function fetchProducts(categoryId) {
        event.preventDefault()
        console.log("fetchProducts function")
        console.log(categoryId)
        fetch(`/shop/sortByCategory?categoryId=${categoryId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
                // Add any additional headers if needed
            },
            // Add any necessary body for POST/PUT requests
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
            // Process the retrieved data (products) here
            console.log('Products:', data.products);
            console.log('Products length:', data.productsLength)
            console.log('category Name:', data.categoryName)
            updateProductGrid(data.products);
            updateProductGridLengthAndCategory(data.productsLength, data.categoryName);
        })
        .catch(error => {
            // Handle error case
            console.error('Error fetching products:', error);
            // Handle error in UI or perform other actions as needed
        });
    }
        
    function updateProductGrid(products) {
        const productGridContainer = document.querySelector('.row.product-grid-3'); // Update this selector as per your HTML structure
        let productHTML = '';

        products.forEach(product => {
            productHTML += `
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                    <div class="product-cart-wrap mb-30">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="/shop/product/details?productid=${product._id}">
                                    <img class="default-img" src="/multer/products/cropped-${product.productimages[0]}" alt="">
                                    <img class="hover-img" src="/multer/products/cropped-${product.productimages[1]}" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/wishlist/add/?wishlistItemId=${product._id}"><i class="fi-rs-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <div class="product-category">
                                <a href="shop-grid-right.html">${product.categories[0]}</a>
                            </div>
                            <h2><a href="shop-product-right.html">${product.productname}</a></h2>
                            <div class="product-price">
                                ${product.promotionalprice ? `<span>$${product.promotionalprice}</span><span class="old-price">$${product.regularprice}</span>` : `<span>$${product.regularprice}</span>`}
                            </div>
                            <div class="product-action-1 show">
                                <div class="rating-result" title="90%">
                                    <span><span>95%</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `;
        });

        // Update the inner HTML content of the product grid container
        productGridContainer.innerHTML = productHTML;
        return
    }

    function updateProductGridLengthAndCategory(length, category) {

        // Display the count of products
        const totalProductElement = document.querySelector('.total-product strong.text-brand');
        if (totalProductElement) {
            totalProductElement.textContent = length;
        }


        // Update the value of the hidden input field for category
        const hiddenCategoryInput = document.getElementById('hiddenCategory');
        if (hiddenCategoryInput) {
            hiddenCategoryInput.value = category;
        }
    }

    // Function to handle fetching data based on selected option
    function fetchDataBasedOnOption(selectedOption) {
        event.preventDefault()
        console.log("sort", selectedOption)

        const hiddenCategoryInput = document.getElementById('hiddenCategory')
        const category = hiddenCategoryInput.value
        console.log("category ",category)

        fetch(`/shop/sortByPrice`, {
            method: 'POST', // Use POST method for sending data in the body
            headers: {
                'Content-Type': 'application/json' // Specify JSON as the content type
            },
            body: JSON.stringify({ selectedOption, category }) // Convert data to JSON and send in the body
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
            // Process the retrieved data (products) here
            console.log('Products:', data.products);
            console.log('Products length:', data.productsLength)
            console.log('category Name:', data.categoryName)
            updateProductGrid(data.products);
            updateProductGridLengthAndCategory(data.productsLength, data.categoryName);

        })
        .catch(error => {
            console.error(`Error fetching data for ${selectedOption}:`, error);
            // Handle error in UI or perform other actions as needed
        });
    }


   
</script>

    <script>
  document.addEventListener("DOMContentLoaded", function () {
    // Check if the bannerMessage exists and is not empty
    const bannerMessage = "{{ Message }}";
    if (bannerMessage) {
      // Trigger SweetAlert to display the bannerMessage
      Swal.fire({
        title: 'Notification',
        text: bannerMessage,
        icon: 'info',
        // You can add more configurations as needed
      });
    }
  });
</script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->

</html>